includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    level: 5

    ignoreErrors:
        - '#Method [a-zA-Z0-9\\_]+::[a-zA-Z0-9\\_]+() should return [a-zA-Z|]+|null but return statement is missing#'

    excludes_analyse:
        - bootstrap/
        - config/
        - database/
        - resources/
        - routes/
        - storage/
        - tests/
        - vendor/
